# ==========================================
# 1. Archivos compilados de Python 
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# 2. Entornos Virtuales
# ==========================================
venv/
.venv/
env/

# ==========================================
# 3. Variables de Entorno y Secretos
# ==========================================
.env
.env.local

# ==========================================
# 4. Caché de Testing
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# 5. Configuraciones del Editor (VS Code / Cursor)
# ==========================================
.vscode/
.idea/